
<div class="container">
  <div class="row">
    <div class="col">
      <ul class="nav nav-pills nav-fill">
        <li class="nav-item my-list active"><a href="#" class="nav-link active">Strona glowna</a></li>
        <li class="nav-item my-list active"><a href="#" class="nav-link active">Blog</a></li>
        <li class="nav-item my-list active"><a href="#" class="nav-link active">Quiz</a></li>
        <li class="nav-item my-list active"><a href="kontakt.html" class="nav-link active">Kontakt</a></li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3">
      Example
    </div>
    <div class="col-sm-9">
      <h1>5.10.2018</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In venenatis sed dui quis efficitur. Morbi sagittis justo orci, sit amet fringilla purus ornare nec. Integer ac convallis tortorfffffffffffffffffdassssssf.</p>
    </div>
  </div>
</div>
